<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>WINEPEDIA</title>
    <!-- mage.html에서 붙여넣은 부분 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
{#    <link rel="stylesheet" href="/static/css/style1.css"/>#}
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
{#    <link href="../static/css/styles2.css" rel="stylesheet"/>#}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">


    <link href="../static/css/styles2.css" rel="stylesheet"/>
    <style>
        a#MOVE_TOP_BTN {
            position: fixed;
            right: 2%;
            bottom: 50px;
            display: none;
            z-index: 999;
        }
    </style>

    <script>
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 500) {
                    $('#MOVE_TOP_BTN').fadeIn();
                } else {
                    $('#MOVE_TOP_BTN').fadeOut();
                }
            });

            $("#MOVE_TOP_BTN").click(function () {
                $('html, body').animate({
                    scrollTop: 0
                }, 400);
                return false;
            });
        });

            {#페이지로드시 실행#}
            $(document).ready(function () {
                showWine();
            });
        {#세션체크후 로그인이나 로그인 한개만 보이게하기#}

        function chksession() {
            $.ajax({
                type: "GET",
                url: "/api/session",
                data: {},
                success: function (response) {
                    if (response['result'] == 'fail') {
                        $('#loginitem').show()
                    } else {
                        $('#logoutitem').show()
                    }
                }
            })
        }

        function showWine() {
            $.ajax({
                type: 'GET',
                url: '/api/list',
                data: {},
                success: function (response) {
                    let wineList = response['wine_list']
                    for (let i = 0; i < wineList.length; i++) {
                        let wine_name = wineList[i]['wine_name']
                        let wine_type = wineList[i]['wine_type']
                        let wine_country = wineList[i]['wine_country']
                        let wine_price = wineList[i]['wine_price']
                        let wine_img = 'static/img/' + wine_name + '.jpg'
                        let wine_like = wineList[i]['wine_like']


                        let temp_html = `<div class="col-12 col-md-3 ${wine_type} ${wine_country}">
                                                <div class="program-card" style="width: 15rem">
                                                    <div class="card-desc">
                                                        <h4 class="wine-title">${wine_name}<p> (좋아요: ${wine_like})</h4>
                                                        <img src="${wine_img}"
                                                            alt="Card image cap">
                                                        <span class="card-text">${wine_type}</span>
                                                        <span class="card-text">${wine_country}</span>
                                                        <span class="card-text">${wine_price}</span>
                                                        <a onclick="likeWine('${wine_name}')" class="favBtn"><i class="fas fa-heart heartbtn"></i></a>
                                                        <a aria-label="heart" onclick="toggle_like('', 'heart')">
                                                            <span class="icon is-small"><i class="fa fa-heart" aria-hidden="true"></i></span>&nbsp;<span class="like-num">2.7k</span>
                                                        </a>



                                                        </div>
                                                </div>
                                            </div>`
                        $('.row').append(temp_html)
                    }
                }
            });
        }

        function likeWine(wine_name) {
            $.ajax({
                type: 'POST',
                url: '/api/like',
                data: {name_give: wine_name},
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload()
                }
            });
        }

        function deleteStar(name) {
            $.ajax({
                type: 'POST',
                url: '/api/delete',
                data: {name_give: wine_name},
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload()
                }
            });
        }

        function toggle_like(post_id, type) {  // toggle_like를 클릭하면 post_id를 항상같이 넘겨준다
            console.log(post_id, type)
            let $a_like = $(`#${post_id} a[aria-label='heart']`) // 지금 post id를 가지고있고 a라벨이 heart인 태그를 찾는다
            let $i_like = $a_like.find("i") // a태그 안에있는 i태그를 찾아서
            if ($i_like.hasClass("fa-heart")) { // 이 i태그가 fa-heart를 가지고있느냐
                $.ajax({
                    type: "POST",
                    url: "/update_like",
                    data: {
                        post_id_give: post_id,
                        type_give: type,
                        action_give: "unlike"
                    },
                    success: function (response) {
                        console.log("unlike")
                        $i_like.addClass("fa-heart-o").removeClass("fa-heart")
                        $a_like.find("span.like-num").text(response["count"])
                    }
                })
            } else { // 이 i태그가 fa-heart를 가지고있지 않다면
                $.ajax({
                    type: "POST",
                    url: "/update_like",
                    data: {
                        post_id_give: post_id,
                        type_give: type,
                        action_give: "like"
                    },
                    success: function (response) {
                        console.log("like")
                        $i_like.addClass("fa-heart").removeClass("fa-heart-o")
                        $a_like.find("span.like-num").text(response["count"])
                    }
                })

            }
        }

        function spark() {
            $('.Sparkling').show()
            $('.Red').hide()
            $('.White').hide()
            $('.Sweet').hide()
            $('.Rose').hide()
            $('.Champagne').hide()
        }

        function redwine() {
            $('.Sparkling').hide()
            $('.Red').show()
            $('.White').hide()
            $('.Sweet').hide()
            $('.Rose').hide()
            $('.Champagne').hide()
        }

        function whitewine() {
            $('.Sparkling').hide()
            $('.Red').hide()
            $('.White').show()
            $('.Sweet').hide()
            $('.Rose').hide()
            $('.Champagne').hide()
        }

        function sweet() {
            $('.Sparkling').hide()
            $('.Red').hide()
            $('.Sweet').show()
            $('.White').hide()
            $('.Rose').hide()
            $('.Champagne').hide()
        }

        function rose() {
            $('.Sparkling').hide()
            $('.Red').hide()
            $('.Rose').show()
            $('.White').hide()
            $('.Sweet').hide()
            $('.Champagne').hide()
        }

        function cham() {
            $('.Sparkling').hide()
            $('.Red').hide()
            $('.White').hide()
            $('.Sweet').hide()
            $('.Rose').hide()
            $('.Champagne').show()
        }

        function france() {
            $('.프랑스').show()
            $('.미국').hide()
            $('.이탈리아').hide()
            $('.뉴질랜드').hide()
            $('.독일').hide()
            $('.칠레').hide()
            $('.호주').hide()
            $('.스페인').hide()
        }

        function italy() {
            $('.프랑스').hide()
            $('.미국').hide()
            $('.이탈리아').show()
            $('.뉴질랜드').hide()
            $('.독일').hide()
            $('.칠레').hide()
            $('.호주').hide()
            $('.스페인').hide()
        }

        function us() {
            $('.프랑스').hide()
            $('.미국').show()
            $('.이탈리아').hide()
            $('.뉴질랜드').hide()
            $('.독일').hide()
            $('.칠레').hide()
            $('.호주').hide()
            $('.스페인').hide()
        }

        function nz() {
            $('.프랑스').hide()
            $('.미국').hide()
            $('.이탈리아').hide()
            $('.뉴질랜드').show()
            $('.독일').hide()
            $('.칠레').hide()
            $('.호주').hide()
            $('.스페인').hide()
        }

        function german() {
            $('.프랑스').hide()
            $('.미국').hide()
            $('.이탈리아').hide()
            $('.뉴질랜드').hide()
            $('.독일').show()
            $('.칠레').hide()
            $('.호주').hide()
            $('.스페인').hide()
        }

        function seven() {
            $('.프랑스').hide()
            $('.미국').hide()
            $('.이탈리아').hide()
            $('.뉴질랜드').hide()
            $('.독일').hide()
            $('.칠레').show()
            $('.호주').hide()
            $('.스페인').hide()
        }

        function au() {
            $('.프랑스').hide()
            $('.미국').hide()
            $('.이탈리아').hide()
            $('.뉴질랜드').hide()
            $('.독일').hide()
            $('.칠레').hide()
            $('.호주').show()
            $('.스페인').hide()
        }

        function spain() {
            $('.프랑스').hide()
            $('.미국').hide()
            $('.이탈리아').hide()
            $('.뉴질랜드').hide()
            $('.독일').hide()
            $('.칠레').hide()
            $('.호주').hide()
            $('.스페인').show()
        }

        function showall() {
            $('.프랑스').show()
            $('.미국').show()
            $('.이탈리아').show()
            $('.뉴질랜드').show()
            $('.독일').show()
            $('.칠레').show()
            $('.호주').show()
            $('.스페인').show()
            $('.Sparkling').show()
            $('.Red').show()
            $('.White').show()
            $('.Sweet').show()
            $('.Rose').show()
            $('.Champagne').show()
        }
    </script>
</head>
<body>

<!-- Responsive navbar-->
{% include 'navbar.html' %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full"
        style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="../static/wineglass.jpg"
             alt="..."/>
        <h2 class="text-white fs-3 fw-bolder">
            <marquee behavior="alternate" scollamount="100">SAVE WATER, DRINK WINE</marquee></h2>
    </div>
</header>
<br>
<div>
    <div style="margin : 10px 10px 10px 5px">
        <button type="button" class="btn btn-dark" onclick="showall()">와인리스트 전체보기</button>
    </div>
    <div>
        <h5 class="h5">타입별</h5>
        <button type="button" class="btn btn-secondary btna" onclick="spark()">스파클링</button>
        <button type="button" class="btn btn-success btna" onclick="sweet()">스위트</button>
        <button type="button" class="btn btn-danger btna" onclick="redwine()">레드</button>
        <button type="button" class="btn btn-light btna" onclick="whitewine()">화이트</button>
        <button type="button" class="btn btn-warning btna" onclick="rose()">로즈</button>
        <button type="button" class="btn btn-info btna" onclick="cham()">샴페인</button>
    </div>
    <div>
        <h5 class="h5">국가별</h5>
        <button type="button" class="btn btn-outline-primary btna" onclick="france()">프랑스</button>
        <button type="button" class="btn btn-outline-secondary btna" onclick="italy()">이탈리아</button>
        <button type="button" class="btn btn-outline-success btna" onclick="us()">미국</button>
        <button type="button" class="btn btn-outline-danger btna" onclick="nz()">뉴질랜드</button>
        <button type="button" class="btn btn-outline-warning btna" onclick="german()">독일</button>
        <button type="button" class="btn btn-outline-info btna" onclick="seven()">칠레</button>
        <button type="button" class="btn btn-outline-light btna" onclick="au()">호주</button>
        <button type="button" class="btn btn-outline-dark btna" onclick="spain()">스페인</button>
    </div>
    <hr>
</div>

<a id="MOVE_TOP_BTN" href="#"><img src="static/img/top.png"></a>

<!-- wine-card -->
<div class="contatiner">
    <div id="card-wrapper">
        <div class="row justify-content-center">
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>