<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>WINEPEDIA</title>
    <!-- mage.html에서 붙여넣은 부분 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style1.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" rel="stylesheet"/>
    <script>
        $(document).ready(function () {
            chksession();
            showWine();
        });

        function chksession() {
            $.ajax({
                type: "GET",
                url: "/api/session",
                data: {},
                success: function (response) {
                    if (response['result'] == 'fail') {
                        $('#logoutitem').hide()
                    } else {
                        $('#loginitem').hide()
                    }
                }
            })
        }

        function showWine() {
            $.ajax({
                type: 'GET',
                url: '/api/list',
                data: {},
                success: function (response) {
                    let wineList = response['wine_list']
                    for (let i = 0; i < wineList.length; i++) {
                        let wine_name = wineList[i]['wine_name']
                        let wine_type = wineList[i]['wine_type']
                        let wine_country = wineList[i]['wine_country']
                        let wine_price = wineList[i]['wine_price']
                        let wine_img = wineList[i]['wine_img']

                        let temp_html = `<div class="col-12 col-md-3">
                                                <div class="program-card" style="width: 15rem">
                                                    <div class="card-desc">
                                                        <h2 class="wine-title">${wine_name}</h2>
                                                        <img src="http://www.winenara.com${wine_img}"
                                                            alt="Card image cap">
                                                        <span class="card-text">${wine_type}</span>
                                                        <span class="card-text">${wine_country}</span>
                                                        <span class="card-text">${wine_price}</span>
                                                        <a class="favBtn"><i class="fas fa-heart heartbtn"></i></a>
                                                    </div>
                                                </div>
                                            </div>`
                        $('.row').append(temp_html)
                    }
                }
            });
        }
    </script>
</head>

<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">WINEPEDIA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#!">마이와이너리</a></li>
                <li class="nav-item" id="loginitem"><a class="nav-link" href="/login">LOGIN</a></li>
                <li class="nav-item" id="logoutitem"><a class="nav-link" href="/login">LOGOUT</a></li>

            </ul>
        </div>
    </div>
</nav>
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full"
        style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg"
             alt="..."/>
        <h2 class="text-white fs-3 fw-bolder">당신의 마리아쥬를 찾아드립니다.</h2>
    </div>
</header>

<!-- wine-card -->
<div class="contatiner">
    <div id="card-wrapper">
        <div class="row justify-content-center">
        </div>
    </div>
</div>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>

</html>