<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=decive-width, initial-scale-1.0">
    <title>winepedia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style1.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>
        $(document).ready(function () {
            showWine();
        });

        function showWine() {
            $.ajax({
                type: 'GET',
                url: '/api/list',
                data: {},
                success: function (response) {
                    let wineList = response['wine_list']
                    for (let i = 0; i < wineList.length; i++) {
                        let wine_name = wineList[i]['wine_name']
                        let wine_type = wineList[i]['wine_type']
                        let wine_country = wineList[i]['wine_country']
                        let wine_price = wineList[i]['wine_price']
                        let wine_img = wineList[i]['wine_img']

                        let temp_html = `<div class="col-12 col-md-4">
                                            <div class="program-card" style="width: 15rem">
                                                <div class="card-desc">
                                                    <h2 class="wine-title">${wine_name}</h2>
                                                    <img src="http://www.winenara.com${wine_img}" 
                                                        alt="Card image cap">
                                                    <span class="card-text">${wine_type}</span>
                                                    <span class="card-text">${wine_country}</span>
                                                    <span class="card-text">${wine_price}</span>
                                                    <a class="favBtn"><i class="fas fa-heart heartbtn"></i></a>
                                                </div>
                                            </div>
                                        </div>`
                        $('#card-wrapper').append(temp_html)

                    }
                }
            });
        }
    </script>
</head>

<body>

    <div class="contatiner">
        <div id="card-wrapper">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4">
                    <div class="program-card" style="width: 15rem">
                        <div class="card-desc">
                            <h2 class="wine-title">wine-name</h2>
                            <img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fssl.pstatic.net%2Fsstatic%2Fpeople%2Fportrait%2F201807%2F20180731143610623-6213324.jpg&type=u120_150&quality=95"
                                alt="Card image cap">
                            <span class="card-text">wine-type</span>
                            <span class="card-text">wine_country</span>
                            <span class="card-text">wine_price</span>
                            <a class="favBtn"><i class="fas fa-heart heartbtn"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>