<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>WINEPEDIA</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/navbar.css"/>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <script>
        $(document).ready(function () {
            $('#loginitem').hide()
            $('#logoutitem').hide()
            $('#signupitem').hide()
            $('#mypageitem').hide()
            chksession();
        });

        function chksession() {
            $.ajax({
                type: "GET",
                url: "/api/session",
                data: {},
                success: function (response) {
                    if (response['result'] == 'fail') {
                        $('#loginitem').show()
                        $('#signupitem').show()
                    } else {
                        $('#logoutitem').show()
                        $('#mypageitem').show()
                    }
                }
            })
        }
    </script>
</head>

<body>
<div class="navbar">
    <div class="title-wrapper">
        <h1 class="title"><a href="/"> WINEPEDIA</a></h1>
    </div>


    <ul class="navbar-menu">
        <li class="navbar-item" id="mypageitem">
            <a class="nav-link" href="/mywinery">MYWINERY</a>
        </li>
        <li class="navbar-item" id="loginitem">
            <a class="nav-link" href="/login">LOGIN</a>
        </li>
        <li class="navbar-item" id="logoutitem">
            <a class="nav-link" href="/logout">LOGOUT</a>
        </li>
        <li class="navbar-item" id="signupitem">
            <a class="nav-link" href="/join">SIGN UP</a>
        </li>

    </ul>
</div>

<!-- <MARQUEE scrollamount="15">
    <h3 class="styling-text">SAVE WATER DRINK WINE</h3>
</MARQUEE> -->


<!-- 수정전 navbar -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">WINEPEDIA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/mywinery">마이와이너리</a></li>
                <li class="nav-item" id="loginitem"><a class="nav-link" href="/login">LOGIN</a></li>
                <li class="nav-item" id="logoutitem"><a class="nav-link" href="/logout">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav> -->
</body>
